# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*~
*.autosave

*.core
*.moc
*.obj
*.orig
*.rej
.#*
*.*#
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
Makefile*
*.pro.user*
bin/*
bind/*
build/*